*
!.gitignore
!dbstr_us.txt
!eqstr_us.txt
!spells_us.txt
!ecommons_chr.txt
!eastwastes_chr.txt
!eastwastes_obj.s3d
!vsm_chr.s3d
!vsf_chr.s3d
!oasis_chr.txt
!erudnext_chr.txt
!arena_chr.txt

!*/
!*/Resources/SkillCaps.txt
!*/Resources/BaseData.txt
!*/Resources/GlobalLoad.txt
!*/loadscreen.JPG
!SkillCaps.txt
!BaseData.txt
!GlobalLoad.txt
!loadscreen.JPG